In [ ]:
import pandas as pd
import numpy as np
from google.colab import files

ATIVIDADE PRÁTICA - EM DUPLA

Adaptado de North, Matthew A. Data Mining for the Masses. 2012.

Esta atividade irá precisar da base de dados: automoveis.xlsx 

Carregue a base de dados Automoveis.xlsx, e realize a preparação dos dados para que eles sejam consistentes. Você irá encontrar:


*  Valores omissos que poderão ser registros ou atributos
*   Valores omissos que poderão ser estimados
*   Valores inconsistentes
*   Problemas de formatação de dados

 Você poderá corrigir valores omissos e inconsistentes da forma que julgar procedente. Elimine campos caso ache que algum campo é redundante ou desinteressante. Explique sua estratégia.

*   Quando é melhor substituir valores? 
*   Quando é melhor remover o registro?
*   Quando podemos estimar o valor pelos demais?

# Análises inciais

In [ ]:
uploaded = files.upload()

Saving automoveis.xlsx to automoveis (8).xlsx

In [ ]:
dados = pd.read_excel("automoveis.xlsx")

In [ ]:
dados.head(3)

   Fabricante Combustível  Portas  ... Potência (HP) Pico RPM     Preço
0  alfa-romeo         gas     2.0  ...        111,00  5000,00  13495,00
1  alfa-romeo         gas     2.0  ...        111,00  5000,00  16500,00
2  alfa-romeo         gas     2.0  ...        154,00  5000,00  16500,00

[3 rows x 15 columns]

In [ ]:
#Dimensão do DataFrame
dados.shape

(205, 15)

In [ ]:
#Tipo dos dados 
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Fabricante           203 non-null    object
 1   Combustível          200 non-null    object
 2   Portas               203 non-null    float64
 3   Estilo Chassis       205 non-null    object
 4   Tração               205 non-null    object
 5   Comprimento          205 non-null    object
 6   Largura              205 non-null    object
 7   Altura               205 non-null    object
 8   Tipo de motor        205 non-null    object
 9   Número de cilindros  205 non-null    object
 10  Tamanho do motor     205 non-null    object
 11  Tipo de injeção      205 non-null    object
 12  Potência (HP)        205 non-null    object
 13  Pico RPM             205 non-null    object
 14  Preço                205 non-null    object
dtypes: float64(1), object(14)
memory usage: 24.1+ KB

In [ ]:
#Transformando as colunas númericas para float
for i in dados.columns[[5,6,7,10,12,13,14]]:
  dados[i] = dados[i].str.replace(',','.').astype(float)

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Fabricante           205 non-null    object
 1   Combustível          205 non-null    object
 2   Portas               205 non-null    float64
 3   Estilo Chassis       205 non-null    object
 4   Tração               205 non-null    object
 5   Comprimento          205 non-null    float64
 6   Largura              205 non-null    float64
 7   Altura               205 non-null    float64
 8   Tipo de motor        205 non-null    object
 9   Número de cilindros  205 non-null    float64
 10  Tamanho do motor     205 non-null    float64
 11  Tipo de injeção      205 non-null    object
 12  Potência (HP)        205 non-null    float64
 13  Pico RPM             205 non-null    float64
 14  Preço                205 non-null    float64
dtypes: float64(9), object(6)
memory usage: 24.1+ KB

# Tratativa para dados omissos

In [ ]:
#verificação de dados omissos 
dados.isnull().sum()

Fabricante             2
Combustível            5
Portas                 2
Estilo Chassis         0
Tração                 0
Comprimento            0
Largura                0
Altura                 0
Tipo de motor          0
Número de cilindros    0
Tamanho do motor       0
Tipo de injeção        0
Potência (HP)          0
Pico RPM               2
Preço                  0
dtype: int64

In [ ]:
dados['Portas'].mean()  # Tratamento de dados por valores médios
dados['Combustível'].mode()  # Tratamento de dados pela moda das categorias
dados['Fabricante'].mode()  # Tratamento de dados pela moda das categorias
# Como a base de dados é pequena não utilizei o tratamento de dados por agrupamento.

0    toyota
dtype: object

In [ ]:
#Tratamento para dados  omissos
dados['Portas'].fillna(value=dados['Portas'].mean(), inplace=True)
dados['Combustível'].fillna(dados['Combustível'].mode()[0], inplace=True)
dados['Fabricante'].fillna(dados['Fabricante'].mode()[0], inplace=True)
#Verificação da corretiva
dados.isnull().sum()

Fabricante             0
Combustível            0
Portas                 0
Estilo Chassis         0
Tração                 0
Comprimento            0
Largura                0
Altura                 0
Tipo de motor          0
Número de cilindros    0
Tamanho do motor       0
Tipo de injeção        0
Potência (HP)          0
Pico RPM               2
Preço                  0
dtype: int64

In [ ]:
#Tratamento para a coluna Pico RPM
dados['Pico RPM'].fillna(dados['Pico RPM'].mean(), inplace = True)
dados.isnull().sum()

Fabricante             0
Combustível            0
Portas                 0
Estilo Chassis         0
Tração                 0
Comprimento            0
Largura                0
Altura                 0
Tipo de motor          0
Número de cilindros    0
Tamanho do motor       0
Tipo de injeção        0
Potência (HP)          0
Pico RPM               0
Preço                  0
dtype: int64

# Dados numéricos 

*   Tratativa para dados inconsistentes

In [ ]:
#Descritiva para os dados númericos
dados.describe()

           Portas  Comprimento  ...     Pico RPM         Preço
count  205.000000   205.000000  ...   205.000000    205.000000
mean     3.123153   174.049268  ...  5118.722857  13207.129366
std      0.989952    12.337289  ...   472.232010   7868.768212
min      2.000000   141.100000  ...  4150.000000   5118.000000
25%      2.000000   166.300000  ...  4800.000000   7788.000000
50%      4.000000   173.200000  ...  5125.370000  10595.000000
75%      4.000000   183.100000  ...  5500.000000  16500.000000
max      4.000000   208.100000  ...  6600.000000  45400.000000

[8 rows x 8 columns]

In [ ]:
#Tratamento para a coluna Número de cilindros
dados['Número de cilindros'].unique() #verificando os valores unicos das colunas 
dados['Número de cilindros'] = dados['Número de cilindros'].replace(['doze', 'oito'], np.nan)
#Preenchendo os valores zero pela Moda
dados['Número de cilindros'].fillna(dados['Número de cilindros'].mode()[0], inplace=True)

In [ ]:
dados.describe()

           Portas  Comprimento  ...     Pico RPM         Preço
count  205.000000   205.000000  ...   205.000000    205.000000
mean     3.123153   174.049268  ...  5118.722857  13207.129366
std      0.989952    12.337289  ...   472.232010   7868.768212
min      2.000000   141.100000  ...  4150.000000   5118.000000
25%      2.000000   166.300000  ...  4800.000000   7788.000000
50%      4.000000   173.200000  ...  5125.370000  10595.000000
75%      4.000000   183.100000  ...  5500.000000  16500.000000
max      4.000000   208.100000  ...  6600.000000  45400.000000

[8 rows x 9 columns]



```
# Isto está formatado como código
```

# Dados Categóricos


*   Tratativa para dados inconsistentes

In [ ]:
dados.describe(include=[object])

       Fabricante Combustível  ... Tipo de motor Tipo de injeção
count         205         205  ...           205             205
unique         22           2  ...             7               8
top        toyota         gas  ...           ohc            mpfi
freq           34         185  ...           148              94

[4 rows x 6 columns]

In [ ]:
dados['Fabricante'].unique()

array(['alfa-romeo', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [ ]:
dados['Combustível'].unique()

array(['gas', 'diesel'], dtype=object)

In [ ]:
dados['Estilo Chassis'].unique()

array(['conversível', 'hatch', 'sedan', 'suv', 'hardtop'], dtype=object)

In [ ]:
dados['Tração'].unique()  
# array(['traseira', 'dianteira', '4x4'], dtype=object)
dados['Tração'].value_counts()

dianteira    122
traseira      76
nan            7
Name: Tração, dtype: int64

In [ ]:
# Tratamento para tração indefinida 4X4
dados['Tração'] = dados['Tração'].replace('4x4', np.nan).astype(str) #retirei os valores indefinidos
moda = dados.groupby('Fabricante')['Tração']
moda.unique()

Fabricante
alfa-romeo                       [traseira]
audi                       [dianteira, nan]
bmw                              [traseira]
chevrolet                       [dianteira]
dodge                           [dianteira]
honda                           [dianteira]
isuzu                 [traseira, dianteira]
jaguar                           [traseira]
mazda                 [dianteira, traseira]
mercedes-benz                    [traseira]
mercury                          [traseira]
mitsubishi                      [dianteira]
nissan                [dianteira, traseira]
peugot                           [traseira]
plymouth              [dianteira, traseira]
porsche                          [traseira]
renault                         [dianteira]
saab                            [dianteira]
subaru                     [dianteira, nan]
toyota           [dianteira, nan, traseira]
volkswagen                      [dianteira]
volvo                            [traseira]
Name: Tração, dtype: object

In [ ]:
dados['Tração'].loc[(dados.Fabricante == 'audi') | (dados.Fabricante == 'subaru')] = 'dianteira'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
dados['Tração'].loc[dados.Fabricante == "toyota"].value_counts()
#Retirei esses valores de indecisão para a tração do fabricante toyota para não atrapalhar na predição
dados.dropna().head(2)

   Fabricante Combustível  Portas  ... Potência (HP) Pico RPM    Preço
0  alfa-romeo         gas     2.0  ...         111.0   5000.0  13495.0
1  alfa-romeo         gas     2.0  ...         111.0   5000.0  16500.0

[2 rows x 15 columns]

In [ ]:
dados.isna().sum()

Fabricante             0
Combustível            0
Portas                 0
Estilo Chassis         0
Tração                 0
Comprimento            0
Largura                0
Altura                 0
Tipo de motor          0
Número de cilindros    0
Tamanho do motor       0
Tipo de injeção        0
Potência (HP)          0
Pico RPM               0
Preço                  0
dtype: int64

In [ ]:
dados['Tipo de motor'].unique() 
# Não entendo nada de motor professor srrs, teria que ter a descrição de cada tipo para ver o que está correto e o
# que precisa ser consistido. #array(['dohc', 'ohcv', 'ohc', 'l', 'rotor', 'ohcf', 'dohcv'], dtype=object)
dados['Tipo de motor'].value_counts() # Mas parece que está correto

ohc      148
ohcf      15
ohcv      13
l         12
dohc      12
rotor      4
dohcv      1
Name: Tipo de motor, dtype: int64

In [ ]:
dados['Tipo de motor'].value_counts() # Parece que está correto

ohc      148
ohcf      15
ohcv      13
l         12
dohc      12
rotor      4
dohcv      1
Name: Tipo de motor, dtype: int64

In [ ]:
dados['Tipo de injeção'].unique()

array(['mpfi', '2bbl', 'mfi', '1bbl', 'spfi', '4bbl', 'idi', 'spdi'],
      dtype=object)

In [ ]:
##Descritiva Final - Categóricos e númericos
dados.describe(include='all')

       Fabricante Combustível  ...     Pico RPM         Preço
count         205         205  ...   205.000000    205.000000
unique         22           2  ...          NaN           NaN
top        toyota         gas  ...          NaN           NaN
freq           34         185  ...          NaN           NaN
mean          NaN         NaN  ...  5118.722857  13207.129366
std           NaN         NaN  ...   472.232010   7868.768212
min           NaN         NaN  ...  4150.000000   5118.000000
25%           NaN         NaN  ...  4800.000000   7788.000000
50%           NaN         NaN  ...  5125.370000  10595.000000
75%           NaN         NaN  ...  5500.000000  16500.000000
max           NaN         NaN  ...  6600.000000  45400.000000

[11 rows x 15 columns]

# Respostas

Quando é melhor substituir valores? Quando temos certeza de que o valor que estamos inserindo na base de dados, obtido a partir de alguma métrica estastística é representativo do estrato. No exercicio, um bom exemplo foi a tratativa dos dados faltantes para a tração. Nos Fabricantes audi e subaru so tinha dados de tração dianteira. Por isso assumir a moda para substituir os valores seria uma tratativa melhor do que a remoção das informações.

Quando é melhor remover os valores? Quando não temos certeza se o valor a ser inserido é representativo. No exemplo citado acima, para a tratativa dos dados de tração do Fabricante 'toyota', 16 dos registros eram referente à tração dianteira e 16 era referentes à tração traseira. Nesse caso, não teria como assumir a moda, e como era somente dois registros faltantes, a melhor tratativa seria a remoção das informações.

Quando podemos estimar o valor pelos demais? Quando as demais variáveis tem correlação causal com a variável a ser preditiva.Essa é um estratégia ideal quanto temos muitos valores faltantes, em uma base extensa, e na qual algumas das variáveis tem causalidade com a variável a ser tratada. A regressão vai buscar um valor médio dentro do estrato, considerando toda a variabilidade deste. Como a base é pequena optei por subsitituir pelas médias e modas.